* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-dynamic-webapps/numbers-fact-bg.png");
  background-size: cover;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.app-title {
  color: #fff;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 600;
}

.user-input {
  color: #000;
  font-family: 'Roboto';
  width: 300px;
  height: 36px;
  padding: 0 10px;
  border-radius: 8px;
  border-style: none;
  outline: none;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.fact-text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  min-width: 400px;
  max-width: 500px;
  margin-top: 12px;
  padding: 12px;
  border: 1px solid red;
}